/*importing fonts*/
@font-face {
    font-family: "Lemon/Milk";
    src: url("https://db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.ttf")format("truetype");
}
@font-face {
    font-family: "SF Pro Display Regular";
    src: url("https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.ttf")format("truetype");
}
@font-face {
    font-family: "Modern Serif";
    src: url("fonts/Modern Serif.ttf") format("truetype");
}


/**/
*{
    box-sizing: border-box;
    list-style: none;
    transition: 0.25s;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
  }

header a{
    text-decoration: none;
}


/*basics of the body*/
body {
    background-color: #cecece;
    background: linear-gradient(#3d3d3d, #050206); 
    color: #ffffff;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body::-webkit-scrollbar{
    display: none;
}


/*header stuff*/
header{
    width: 100vw;
    height: 8vh;
    top: 0;
    position: fixed;
    background: linear-gradient(#050206, #3d3d3d);
    display: flex;
    align-items: center;
}
.header-items{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}
.header-items li{
    position: relative;
    float: left;
    display: flex;
    padding: 2.3vh
}
.header-items p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vh;
}
.header-items img{
    width: 5vh;
}
.logo{
    width: 10vh;
    position: absolute;
    left: 0;
    padding: 1vh;
    margin-top: -5vh;
}
.header-link{
    display: flex;
    color: #ffffff;
}


/*body paragraphs*/
.brief-intro{
    color: #000000;
    width: 76vw;
    padding: 2%;
    background-color: #ffffff;
    box-shadow: 0px 5px 0 #00000059;
    border-radius: 25px;
    border: #707070 1px 5% groove;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.brief-intro:hover{
    transition: 0.4s;
    background-color: #f3f3f3;
    box-shadow: 0px 2px 0 #00000059;
}
.brief-intro p{
    font-family: "SF Pro Display Regular";
    font-size: 2vh;
}
.brief-intro .img{
    height: 10vw;
    border-radius: 50%;
    padding-right: 2vw;
}


/*section headers*/
.section-header{
    color: #000000;
    margin-left: 12vw;
    width: 76vw;
    height: 4vh;
    margin-top: 5vh;
    margin-bottom: 1vh;
    margin-left: 0px;
    background-color: #ffffff;
    border-radius: 25px;
    border: #707070 1px 5% groove;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vh;
}


/*skills*/
.skills, .projects{
    width: 76vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.25vw;
}
.skill, .project{
    border-radius: 10px;
    color: #000000;
    width: 25vw;
    height: 10vh;
    padding: 2.5%;
    background-color: #ffffff;
    box-shadow: 0px 5px 0 #00000059;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}
.skill h2, .project h2{
    font-family:'Courier New', Courier, monospace;
    font-size: 2.2vh;
    height: 10vh;
    display: flex;
    align-items: center;
}
.skill img, .project img{
    height: 5vh;
    margin-right: 1vw;
}
.skill:hover, .project:hover{
    box-shadow: 0px 2px 0 #fffffffa;
    border-radius: 50px;
    transition: 0.5s;
}
.skill img:hover{
    transform: rotate(360deg);
}


/*projects*/
.projects {
    row-gap: 25px;
}
.project{
    width: 37.75vw;
    height: fit-content;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0px 5px 0 #ffffff;
    display: flex;
    flex-direction: column;
    justify-items: start;
    transition: 1s;
}
.project h2{
    font-size: 40px;
}
.project img{
    height: 12vh;
}
.project p{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}
  
/*socials*/
.socials{
    background-color: white;
    border-radius: 25px;
    margin-top: 1vh;
    width: 76vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 0;
}
.socials img{
    height: 5vh;
}
.socials-link{
    margin: 15px;
}
.socials img:hover{
    transform: rotate(360deg);
}

/*footer stuff*/
.footer{
    width: 100.7vw;
    height: 17vh;
    background: linear-gradient(#050206, #242424);
    color: #ffffff;
    font-family: "SF Pro Display Regular";
    text-align: center;
    padding: 1.5vh;
}


@media screen and (max-width: 1000px) {
    *{
        transition: 0.25s;
    }
    .skills, .projects{
        width: 75vw;
        display: flex;
        flex-wrap: wrap;
    }
    .skill, .project{
        width: 75vw;
    }
    .brief-intro{
        float: none;
        display: block;
    }
    .brief-intro .img{
        height: 30vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .header-items p{
        color: transparent;
        width: 0px;
    }
    .header-items img{
        position: absolute;
        margin: 2vw;
        right: 3vw;
    }
  }

