/*importing fonts*/
@font-face {
    font-family: "Lemon/Milk";
    src: url("https://db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.ttf")format("truetype");
}
@font-face {
    font-family: "SF Pro Display Regular";
    src: url("https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.ttf")format("truetype");
}
/**/
*{
    box-sizing: border-box;
}

/*basics of the body*/
body {
    background-color: #553c9a;
    color: #ffffff;
    margin: 0px;
}

/*header stuff*/
header{
    width: 100%;
    height: 100vh;
    background: #000000;
    background-image: linear-gradient(#ee4b2b, #553c9a);
}
.intro{
    text-align: center;
    margin: auto;
    padding-top: 25vh;
    width: 100%;
}
.intro h1{
    font-size: 5em;
    font-family: "Lemon/Milk" ;
    position: relative;
}
.intro h3{
    font-family: "Lemon/Milk";
    font-weight: lighter;
}
.intro .top{
    margin-bottom: -50px;
    padding-right: 71.5vh;
}
.intro .bottom{
    margin-top: -50px;
    padding-left: 45.5vh;
}
/*button stuff*/
.container {
	margin-top: 200px;
    width: 1000px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lemon/Milk";
}
.container .btn {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #000000;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.container .btn:hover a {
	letter-spacing: 3px;
}
.container .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.container .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.container .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.container .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.container .btn:nth-child(1)::before, /*chnage 1*/
.container .btn:nth-child(1)::after {
	background: #ff1f71;
	box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
		0 0 60px #ff1f71;
}
.container .btn:nth-child(2)::before, /* 2*/
.container .btn:nth-child(2)::after {
	background: #2db2ff;
	box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
		0 0 60px #2db2ff;
}
.container .btn:nth-child(3)::before, /* 3*/
.container .btn:nth-child(3)::after {
	background: #1eff45;
	box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45,
		0 0 60px #1eff45;
}

/*body paragraphs*/
.para{
    color: #000000;
    font-size: 1.25em;
    width: 50%;
    padding: 2%;
    margin-left: 30vh;
    float: left;
    background-color: #ffffff;
    box-shadow: #000000 -5px 5px;
    border-radius: 5%;
}
.para:hover{
    color: #ffffff;
    background-color: #000000;
    box-shadow: #bfbfbf -5px 5px;
}
.para h2{
    font-family: "SF Pro Display Regular";
    font-weight: 300;
}
.para p{
    font-family: "SF Pro Display Regular";
}
.img{
    float: inline;
    height: 50vh;
}

/*footer stuff*/
.footer{
    background-color: transparent;
    color: #ffffff;
    font-family: "SF Pro Display Regular";
    margin-bottom: -20px;
    margin-top: 20vh;
    padding: 0.25%;
    text-align: center;
}

/*languages*/
.languages{
    width: 180vh;
    margin: auto;
    padding-left: 144px;
}
.languages-left{
    color: #000000;
    font-size: 1.5em;
    width: 65%;
    height: 18vh;
    padding: 2%;
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: #ffffff;
    box-shadow: #000000 -5px 5px;
    border-radius: 1%;
}
.languages-left h2{
    font-family: "Lemon/Milk";
    height: 20vh;
    float: right;
}
.languages-left img{
    height: 10vh;
    float: left;
}
.languages-right{
    color: #000000;
    font-size: 1.5em;
    width: 50%;
    height: 18vh;
    padding: 2%;
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: #ffffff;
    box-shadow: #000000 5px 5px;
    border-radius: 1%;
}
.languages-right h2{
    font-family: "Lemon/Milk";
    height: 20vh;
    float: right;
}
.languages-right img{
    height: 10vh;
    float: left;
}
.languages-right:hover, .languages-left:hover{
    background-color: #cdcdcd;
    transition: all 0.5s;
}